*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: BYekan;
    src: url(../fonts/BYekan-webfont.eot),
    url(../fonts/BYekan-webfont.ttf),
    url(../fonts/BYekan-webfont.woff);
    font-weight:600 ;

}
@font-face {
    font-family: Nothing You Could Do;
    src: url(../fonts/NothingYouCouldDo.ttf);
    font-weight:800 ;
   

}
body{
   font-family: "BYekan" !important;
   font-size: 1.2rem !important;
   direction: rtl !important;
   overflow: hidden !important;
   

}
.App-background{
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    background: url(../img/todoimg.png)  ; 
    background-repeat: no-repeat;
    background-size: cover ;
}

.main-app{
    width:100%;
    height: 100vh;

}
.show-task{
    background: whitesmoke;
}

.icon-coffee{
    font-size: 3.2rem !important;
}
.nay-p{
    right: 40px;
    top:20px;
    direction: ltr !important;
}
.userlayout{
    padding: 2px 7px;
    background-color: antiquewhite;
    left: 50px;
    top: 20px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1.3rem;
}

.wellcoming{
    padding: 0;
    margin: 0;
}


.form-control{
    border-color:none ;
    outline: none;
    border: none;
    border-bottom: none !important;
    box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.3);
}
.form-control:focus {
    border-color:none ;
    border: none;
    outline: none;
    box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.3);
  }
  .btn:focus, .btn:active{
    box-shadow: none;
   
  }



  /* login */


@keyframes move {
from{transform: rotateY(0deg);}
to{transform: rotateY(180deg);}
    /* 0% { transform: rotateY(0deg)}
    20% {transform: rotateY(20deg)}
    40% {transform: rotateY(40deg)}
    60% {transform: rotateY(60deg)}
    80% {transform: rotateY(80deg)}
    100% {transform: rotateY(100deg)} */
}

  .out-layer-login{
    width: 40%;
    height: 100vh;
    margin: auto;
    position: relative;
    animation: move 5s linear !important;
}
.main-login{
    position: relative;
    width: 100%;  
    height: 100vh;
}
.main-login::after{
    content: "";
    position: absolute;
    width: 100%;  
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(108deg, rgba(84,122,214,0.2) 24%, rgba(84, 99, 126, 0.418) 83%);
}

.animations{
    animation-name: move;
    animation-duration: 4s;
}

.login-box{
    position: absolute;
    width:60%;
    max-width: 60%;
    min-width: 60%;
    min-height: 77vh;
    height: fit-content;
    padding: 70px 10px;
    border-radius: 10PX;
    margin-right: auto;
    right: 0;
    margin-left: auto;
    left: 0;
    margin-top: auto;
    top: 0;
    margin-bottom: auto;
    bottom: 0;
    background: whitesmoke;
    z-index: 1000;
}
.login-box{
    margin-left: 0;
    left: 0;
    transform: translateX(32%);
    transition: transform ease-in-out 1.2s ;
}
.login-text-h4{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 4rem;
}
.login-text{
    color: steelblue;
}
.input-login{
  margin-bottom: 5rem;
  margin-top: 100px;
}
.inp1{
    display: block;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px steelblue solid ;
    width: 70%;
   outline: none;
   font-size: 1rem;
   margin-left: auto;
   left: 0;
   margin-right: auto;
   right: 0;
   line-height: 5px;
   padding: 5px 12px;
}
[type=text]:focus,[type=password]:focus,[type=email]:focus{

    border-bottom: 2px steelblue solid ;
   
}
.login-btn{
    text-align: center;
}

.btn1{
    margin: 0  10px;
    border: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right , rgb(85, 179, 216,1),rgba(85, 179, 216, 0.8));
    width: 35%;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(43, 43, 43);
}
.btn1:hover{
    background-color: rgb(0, 147, 206);
}
.btn1:active{
    box-shadow: 0 0  rgb(43, 43, 43);
    background-color: rgb(0, 147, 206);
    transform: translateY(3px);
  
}
.login-links{
    text-align: center;
    margin-top:1.5rem ;
}
.login-links a{
    display: block;
    text-decoration: none;
    color: #000;
}
#forget{
    color: #808080;
    font-size: .8rem;
    margin: 0.7rem;
}
#create{
    color: steelblue;
    font-size: 1rem;
}
@keyframes move  {
    from {transition:rotateX(10deg);}
    to {transition:rotateX(100deg);}
}




@media screen and (max-width:1300px) {

    .out-layer-login{
        width: 34%;
        height: 100vh;
    }
    .login-box{
        width: 100%;
        height: 85vh;
        min-width: 100%;
        max-height: 85vh;
        transform: none;
        transition: none;
    }


}


@media screen and (max-width:992px) {
  
    .out-layer-login{
        width: 50%;
        height: 100vh;
    }
    .login-box{
        width: 100%;
        height: 85vh;
        min-width: 100%;
        max-height: 85vh;
        transform: none;
        transition: none;
    }


}

@media screen and (max-width: 768px) {
  
    .out-layer-login{
        width: 100%;
        height: 100vh;
    }
    .login-box{
        width: 100%;
        height: 100vh;
        min-width: 100%;
        min-height: 100vh;
        border-radius: 0px;
        transform: none;
        transition: none;
    }
    .input-login{
        margin-top: 160px;
    }
    .userlayout{
        left: auto;
        right: 40px;
        top: 80px; 
        display: none;
    }
}
@media screen and (max-width: 992px){
    .new-task-form{
        width:50% !important;
    }
    .show-task{
        width:50% !important;
    }
    .newCard{
        width:50% !important;
    }
    .resume{
        width: 100% !important;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (max-width: 786px){
    .new-task-form{
        width:75% !important;
    }
    .show-task{
        width:75% !important;
    }
    .newCard{
        width:80% !important;
    }
}


/* resume - about-me */

.main-resume{
    direction: ltr !important;
    background: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Nothing You Could Do" , sans-serif;
}
.main-resume::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2) ;
}
.resume{
    background-color: rgba(235, 238, 196, 0.55);
    z-index: 100;
    color:  rgba(0, 0, 0, 0.801);
}

.not-found{
    background: url(../img/404.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
.not-found div {
    bottom: 10rem;
    position: absolute;

}

.input-gide{
    bottom:-20px;
    right:60px;
}